DATABASE_HOST=localhost
DATABASE_NAME=hostel_management
DATABASE_USER=root
DATABASE_PASSWORD=

EMAIL_SERVICE_HOST=smtp.gmail.com
EMAIL_SERVICE_USERNAME=
EMAIL_SERVICE_PASSWORD=
EMAIL_SERVICE_PORT=465

PAYSTACK_SECRETE_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_BASE_URL=https://api.paystack.co/transaction/initialize
PAYSTACK_CALLBACK_URL=http://localhost/paystack/callback