# Dependencies
/vendor/
/node_modules/

# IDE specific files
.vscode/
.idea/

# Environment variables
.env

# Log files
*.log

# Temporary files
debug_session.php

# OS specific files
.DS_Store
Thumbs.db

#instructions
general_instructions.md
SYSTEM_INSTRUCTIONS.md
SYSTEM_INSTRUCTIONS.md
NUXT_MIGRATION.md
